* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

a:hover {
	color:whitesmoke;
}

li {
	font-weight: bolder;
	color: darkred;
}
.navbar-brand {
	color:grey;
  font-family: 'Grenze Gotisch', cursive;
  font-weight: bolder;

}

nav {
  background-color:black;
  
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed; 
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:999;
}


.sidebar a  {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color:lightblue;
  display: block;
  transition:0.2s;
  font-family: 'Caveat Brush', cursive;

}

.nav-link:hover {
  color: navy;
  font-size: 25px;
}

.sidebar > a:hover {
  color:white;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
ul li a{
  margin:17px;
}

#main {
  padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.carousel-inner .image-fluid{
  width:100vw;
  object-fit: cover;
  height: 750px;
}

img {
  width:100%;
  height:auto;
}

#demo {
  height: 700px;
  overflow: hidden;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Nosifer', cursive; 
  color:lightskyblue;
}

.carousel-item {
  position: relative;
  text-align: center;
  color:black;
  font-weight: bolder;
}
.carousel-item img{
  width: 100%;

}

a:visited {
  color:blueviolet;
}

h2 {
  text-align: center;
}
.shopnowclass {
  border:2px solid black;
  transition-duration: 0.1s;
  background-color: black;
  text-align: center; 
  color: white;
  width: 250px; 
  border-radius: 12px;
}
.shopnowclass:hover {
   box-shadow: 0 12px 16px 0 gray, 0 17px 50px 0 rgba(0,0,0,0.19);
}
.viewblog:hover {
   box-shadow: 0 12px 16px 0 gray, 0 17px 50px 0 rgba(0,0,0,0.19);
}

.page-footer {
  background-color: black;
  color:white;
  overflow-x:hidden;

  height: auto;

  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

#town {
  padding: 10px;
}
.talks a {
  font-size: 30px;
  color: lightblue;
  text-decoration: underline;
  font-family: 'Caveat Brush', cursive;
}

.talks a:hover {
  font-size: 25px;
  color:navy;
}

.downmenu {
  display: block;
  list-style-type:none;
  text-align: left;
}

.downmenu a{
  text-align: left;
  display: block;
  padding: 4px 4px 4px 20px;

}
.formenu {
  text-decoration: underline;
  margin: 50px;
}
.downmenu .nav-link {
  color:lightblue;
  font-size: 20px;
  font-family: 'Caveat Brush', cursive;
}
.downmenu h3 {
   font-family:'Caveat Brush', cursive;
   font-size: 30px;
}
.hillary {
  text-align: left;
  font-size:15px;
  font-family: 'Libre Baskerville', serif;
  margin:10px;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 100%;
  height: auto;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

#rows  {
  padding:0;
  margin: 0;
  height: 100%;
}
.column {
  width:25%;
}
.column img{
  max-width: 100%;
  height: 50%;
  object-fit: cover;
}
.columnone {
  width:75%;
  position: relative;


  
}

.columnone img{
  max-width: 100%;
  height: 50%;
  object-fit: cover;

}
#rows div img {
  height: 500px;
}
.dripping {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-family: 'Nosifer', cursive; 
  color:lightskyblue;

  
}

@media screen and (max-width:600px) {
  .column {
    width: 50%;
  }
  .columnone {
    width: 50%;
  }

.downmenu a {
  float: left;
  text-align: left;
}
#hideplease {
  visibility: hidden;

}
.dripping {
   bottom:8px;
  left: 16px;
}
.shopnowclass {
  width:150px;
  float:center;
  text-align:center; 
  background-color:lightblue;
  margin: auto;
  animation-name: shopnowbutton;
  animation-duration: 5s;
}
}
@keyframes shopnowbutton {
  0% {background-color:lightgreen;}
  100% { background-color:black;}
}