a:hover {
	color:whitesmoke;
}

li {
	font-weight: bolder;
	color: darkred;
}
.navbar-brand {
	color:grey;
  font-family: 'Grenze Gotisch', cursive;
  font-weight: bolder;

}

div.gallery {
  margin: 30px;
  border-radius: 12px;
  float: left;
  width: 180px;
}

div.gallery:hover {
   box-shadow: 7px 7px 5px lightblue;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

nav {
  background-color:black;
}
.menuu {
	text-align: end;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed; 
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:999;
}


.sidebar a  {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color:lightblue;
  display: block;
  transition:0.2s;
  font-family: 'Caveat Brush', cursive;

}
.downmenu .nav-link {
  color:lightblue;
  font-size: 20px;
  font-family: 'Caveat Brush', cursive;
}
.downmenu h3 {
   font-family: 'Grenze Gotisch', cursive;
}
.nav-link:hover {
  color: navy;
  font-size: 25px;
}
.talks a {
  font-size: 30px;
  color: lightblue;
  text-decoration: underline;
  font-family: 'Caveat Brush', cursive;
}
.talks a:hover {
  font-size: 25px;
  color:navy;
}
.sidebar > a:hover {
  color:white;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
ul li a{
  margin:17px;
}

#main {
  padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.carousel-inner .image-fluid{
  width:100vw;
  object-fit: cover;
  height: 750px;
  



}


img {
  width:100%;
  height:auto;
}

.carousel-caption {
    color: hotpink;
    font-weight: bolder;
}
#demo {
  height: 700px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Nosifer', cursive; 
  color:lightskyblue;
}

.carousel-item {
  position: relative;
  text-align: center;
  color:black;
  font-family: 'Grenze Gotisch', cursive;
  font-weight: bolder;
}
.carousel-item img{
  width: 100%;

}
#white {
  background-color: white;
  border-radius: 5px;
}
.hoody li  {
  display: inline-block;
  padding: 20px;
  color: blueviolet;

}
.hoody  {
  text-align: center;
  padding: 12px;
  margin: 12px;
  list-style-type: circle;

}
.hoody li a {
  color:black;
}
.hoody a:hover {
  color: green;
  text-decoration: none;
}
.a:visited {
  color: blueviolet;
}
.hoody a:active {
  color: blue;
}
h2 {
  text-align: center;
}
@media screen and (max-width:600px) {
  
  .hoody {
    padding: 12px;
    margin: 20px;
  }
  .hoody li {
    margin: 10px;
  
  }
  .visible {
    display: none;
  }
}
.page-footer {
  background-color: black;
  color:white;
  overflow-x:hidden;

  height: auto;

  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}



#town {
  padding: 10px;
}
#button {
  text-align: center;
  margin: 10x;
  height: 100px

}
.seemore {
  color:lilac;
  border-radius: 12px;
  border-color: lightblue;
  width: 200px;
  height: 50px;
  background-color:lightblue;
  box-shadow:10px 10px lightblue;
  font-family: 'Caveat Brush', cursive;
  font-size: 30px;
}
button:hover {
  color: black;
  box-shadow: 0px 0px;
  cursor:alias;

}
.downmenu {
  display: block;
  list-style-type:none;
  text-align: left;
}

.downmenu a{
  text-align: left;
  display: block;
  padding: 8px 8px 8px 32px;

}
.formenu {
  text-decoration: underline;
  margin: 50px;
}
.hillary {
  text-align: center;
}
