a:hover {
	color:whitesmoke;
}
body {
  background-color: lightgray;
}

li {
	font-weight: bolder;
	color: darkred;
}
.navbar-brand {
	color:grey;
  font-family: 'Grenze Gotisch', cursive;
  font-weight: bolder;

}

div.gallery {
  margin: 30px;
  border-radius: 12px;
  float: left;
  width: 180px;
}

div.gallery:hover {
   box-shadow: 7px 7px 5px grey;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

nav {
  background-color:black;
}
.menuu {
	text-align: end;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed; 
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:999;
}


.sidebar a  {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:purple;
  display: block;
  transition:0.2s;
}
.dropdown-menu {
  background-color: #111;
}


.sidebar > a:hover {
  color:white;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
ul li a{
  margin:17px;
}

#main {
  padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.carousel-inner  img{
  width:100%;
  height: 570px;
  border-radius: 30px;
  object-fit: cover;

}
#demo {
  margin:15px;
  width: auto;
  

}
img {
  width:100%;
  height:auto;
  
  
}
.carousel-caption{
    color: hotpink;
    font-weight: bolder;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-item {
  position: relative;
  text-align: center;
  color:black;
  font-family: 'Grenze Gotisch', cursive;
  font-weight: bolder;
}
#white {
  background-color: white;
  margin: 30px;
  border-radius: 5px;
}
.hoody li  {
  display: inline-block;
  padding: 20px;
  color: blueviolet;

}
.hoody  {
  text-align: center;
  padding: 12px;
  margin: 12px;
  list-style-type: circle;

}
.hoody li a {
  color:black;
}
.hoody a:hover {
  color: green;
  text-decoration: none;
}
.a:visited {
  color: blueviolet;
}
.hoody a:active {
  color: blue;
}
h2 {
  text-align: center;
}
@media screen and (max-width:600px) {
  
  .hoody {
    padding: 12px;
    margin: 20px;
  }
  .hoody li {
    margin: 10px;
  
  }
  .visible {
    display: none;
  }
}